*{
    font-size: 16px;
}

h2{
    font-family: 'Poppins';font-size: 22px;
}

h4{
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 18px;
    color: #AA1F24;
    font-weight: bold;
}

.form-group{
    padding: 10px;
}

.input-focus-border-color {
    color: #AA1F24;
    background-color: #AA1F24;
}

.mainLogo {
    width: 10rem;
}

.hero-image-1 {
    background-image: url('./Assets/home/carousel1.png');
    min-height: 600px;
    max-height: 100vh;
    width: 100vw;
    background-size: cover;
}

.hero-image-1 {
    background-image: url('./Assets/home/carousel2.png');
    min-height: 600px;
    max-height: 100vh;
    width: 100vw;
    background-size: cover;
}

.bg-red {
    background-color: #AA1F24 !important;
}

.cl-red {
    color: #AA1F24 !important;
}

.bg-grey{
    background-color: #E1E1E1;
}

.mini-card {
    position: relative;
}

.mini-card :hover.grid-img-hover{
    opacity: 1;
}

.grid-img {
    width: 100%;
}

.grid-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .2s ease-in-out ;
    opacity: 0;
}



.section-project {
    background-image: url('./Assets/home/background-project.png');
    background-size: cover;
    position: relative;
    z-index: -2;
}

.section-project::after{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/home/background-project-overlay.png');
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.85;
    z-index: -1;
}

.home-project-container {
    flex-wrap: nowrap;
    max-width: 300px;
}


.home-project-image{
    position: relative;
}

.home-project-image img{
    max-width: 287px;
}

.home-project-image .text{
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 10px;
}

.home-project-image h5{
}

.home-project-image p{
}





/* cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card.news {
    width: 388px;
}



.home-section-contact {
    background-image: url('./Assets/home/contact.png');
    height: 574px;
    width: 100vw;
    background-size: cover;
}



/********************* About Page *******************/

.about-hero {
    background-image: url('./Assets/about/about-cover.png');
    height: 574px;
    width: 100vw;
    background-size: cover;
}

.about-hero ::after {
    height: 100%;
    width: 100%;
    background-color: #ffff;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.44;
    z-index: -1;
}

.card-mission {
    border-radius: 10px;
    border: #AA1F24 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.strategy .img-cover {
    height: 100%;
    width: 100%;
}

.strategy .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.strategy .cards-container {
    margin-top: -100px;
}

.strategy .card-text {
    font-size: 16px;
    font-family: 'Poppins';
    color: #231F20;
    opacity: 0.8;
    text-align: center;
}