*{
    font-size: 16px;
}

#more {
    display: none;
}

#more1 {
    display: none;
}
#more2 {
    display: none;
}
#more3 {
    display: none;
}
#more4 {
    display: none;
}
#more5 {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus {
    color: #AA1F24;
}

a:hover {
    color: #AA1F24;
}

a:active {
    color: #AA1F24;
}

input {
    border-color: #AA1F24 !important;
    padding: 15px 15px !important;
}

input:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(122, 54, 54, .2) !important;
}

textarea {
    border-color: #AA1F24 !important;
    padding: 15px 15px !important;
}

textarea:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(122, 54, 54, .2) !important;
}

h2{
    font-family: 'Poppins';font-size: 22px;
}

h3 {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 700;
    margin: 25px 0;
}

h4{
    font-family: 'Tahoma'; 
    font-size: 18px;
    color: #AA1F24;
    font-weight: bold;
    margin: 20px 0;

}

.form-group{
    padding: 10px;
}

.input-focus-border-color {
    color: #AA1F24;
    background-color: #AA1F24;
}

.border-radius-5 {
    border-radius: 20px;
}

.mainLogo {
    width: 10rem;
}

.nav-item .active h2{
    border-bottom: #AA1F24 1px solid;
}

.nav-item h2 {
    padding-bottom: 5px;
    margin: 0 15px;
}

.nav-icon {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    max-width: 100vw;
    width: 473px;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    right: 0;
    background-color: #F3F3F3;
    z-index: -5;
    opacity: -5;
    transition: all 0.5s ease-in-out ;
}

.sidebar .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #AA1F24;
    font-size: 25px;
    cursor: pointer;
}

.sidebar img {
    height: 150px;
    width: 250px;
}

.sidebar .sidebar-icon {
    color: #AA1F24;
    font-size: 30px;
    width: auto;
    margin: 0 10px;
    cursor: pointer;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    overflow: hidden;
    background-color: #838486;
    opacity: 0;
    transition: all 0.5s ease;
}

.hero-image-1 {
    background-image: url('./Assets/home/carousel1.png');
    min-height: 600px;
    max-height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -2;
}

.hero-image-2 {
    background-image: url('./Assets/home/carousel2.png');
    min-height: 600px;
    max-height: 100vh;
    width: 100vw;
    background-size: cover;
}

.hero-image-1::after{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/home/background-project-overlay.png');
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.85;
    z-index: 0;
}

.hero-image-2::after{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/home/background-project-overlay.png');
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.85;
    z-index: 0;
}

.hero-content {
    z-index: 2
}

.hero-content h5{
    font-family: 'Tahoma';
    font-size: 22px;
    color: #F3F3F3;
}

.hero-content p{
    font-family: 'Poppins';
    font-size: 40px;
    color: #F3F3F3;
    max-width: 800px;
}

.btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: #AA1F24;
}


.bg-red {
    background-color: #AA1F24 !important;
}

.cl-red {
    color: #AA1F24 !important;
}

.bg-grey{
    background-color: #E1E1E1;
}

.mini-card {
    position: relative;
}

.mini-card :hover.grid-img-hover{
    opacity: 1;
}

.grid-img {
    width: 100%;
}

.grid-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .2s ease-in-out ;
    opacity: 0;
}

.section-about p {
    margin: 30px 0;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 100;
}

.section-about h3 {
    margin: 20px 0;
}



.section-project {
    background-image: url('./Assets/home/background-project.png');
    background-size: cover;
    position: relative;
    z-index: -2;
}

.section-project::after{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/home/background-project-overlay.png');
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.85;
    z-index: -1;
}

.section-project h3 {
    color: #F3F3F3;
}

.section-project p {
    color: #F3F3F3;
}

.section-project .fas {
    color: #AA1F24;
    margin-bottom: 15px;
    margin-right: 10px;
}

.section-project button {
    margin: 40px 0 0 0;
}

.home-project-container {
    flex-wrap: nowrap;
    max-width: 300px;
}


.home-project-image{
    position: relative;
}

.home-project-image img{
    max-width: 287px;
}

.home-project-image .text{
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 10px;
}


footer {
    background-image: url('./Assets/footer-back.png');
    color: #F3F3F3;
    height: 297px;
}

footer img {
    width: 250px;
}

footer small {
    font-size: 12px;
}

footer i {




    color: #ffffff;
    font-size: 25px;
    width: auto;
    margin: 0 10px;
    cursor: pointer;
}




/* cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.05);
}

.card.news {
    width: 388px;
    cursor: pointer;
}

.card.news .card-text{
    font-size: 17px;
    font-family: 'Poppins';
    color: #231F20;
}

.card.news .card-text-date {
    font-size: 14px;
    color: #838486;
}

.card.news .card-action {
    /* text-align: end; */
    color: #AA1F24;
    font-size: 16px;
    border-bottom: #AA1F24 1px solid;
    width: auto;
    padding: 1px 0;
    margin-right: 10px;
}

.home-section-contact {
    background-image: url('./Assets/home/contact.png');
    height: 574px;
    width: 100vw;
    background-size: cover;
    margin-top: 200px;
    
}

.home-section-contact .card-body {
    margin-top: -100px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.05);
}




/********************* About Page *******************/

.about-hero {
    background-image: url('./Assets/about/about-cover.png');
    height: 574px;
    width: 100vw;
    background-size: cover;
    position: relative;
}

.about-hero ::after {
    height: 100%;
    width: 100%;
    background-color: #ffff;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.44;
    z-index: -1;
}

.about-hero h1 {
    z-index: 0;
}

#readMoreBtn {
    cursor: pointer;
    transition: all 0.5s ease;
}

#readMoreBtn i {
    margin: 5px 0 0 10px;
}
#readMoreBtn1 {
    cursor: pointer;
}

#readMoreBtn1 i {
    margin: 5px 0 0 10px;
}
#readMoreBtn2 {
    cursor: pointer;
}

#readMoreBtn2 i {
    margin: 5px 0 0 10px;
}
#readMoreBtn3 {
    cursor: pointer;
}

#readMoreBtn3 i {
    margin: 5px 0 0 10px;
}
#readMoreBtn4 {
    cursor: pointer;
}

#readMoreBtn4 i {
    margin: 5px 0 0 10px;
}
#readMoreBtn5 {
    cursor: pointer;
}

#readMoreBtn5 i {
    margin: 5px 0 0 10px;
}


.card-mission {
    border-radius: 10px;
    border: #AA1F24 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5px 10px;
}

.card-mission .main {
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.card-mission .fa-hand-point-right {
    color: #AA1F24;
    margin: 0 5px 10px 0;
}

.strategy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 446px;
    flex-direction: column;
    background-image: url('./Assets/about/about-img-3.png');
    background-size: cover;
    margin-bottom: 250px;
}

.strategy::after{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/about/about-img-3-cover.png');
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}

.strategy h3{
    color: white;
    text-align: center;
    font-size: 42px;
}
.strategy .card {
    border-radius: 20px;
    width: 100%;
    padding: 15px;
}

.strategy .cards-container {
    margin-top: 250px;
    width: 100%;
}

.strategy .card-text {
    font-size: 16px;
    font-family: 'Poppins';
    color: #231F20;
    opacity: 0.8;
    text-align: center;
}

.about-section-ceo {
    background-color: #F3F3F3;
    padding: 20px 0;
}

.about-section-ceo p {
    font-size: 18px;
    font-family: 'Poppins';
    color: #231F20;
    opacity: 0.8;
}

.about-section-ceo .title {
    text-align: center;
    color: #AA1F24;
    font-size: 28px;
    font-family: 'Poppins';
}

.about-section-ceo .ceo-image {
    width: 222px;
    height: 222px;
}

.about-section-ceo .text-container {
    position: relative;
    border: #AA1F24 1px solid;
    padding: 25px;
}

.about-section-ceo .text-container .fa-quote-left {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 30px;
    background-color: #F3F3F3;
    color: #AA1F24;
    width: 50px;
    height: 50px;
}

.about-section-ceo .text-container .fa-quote-right {
    position: absolute;
    bottom: -30px;
    right: -30px;
    font-size: 30px;
    background-color: #F3F3F3;
    color: #AA1F24;
    width: 50px;
    height: 50px;
}

.about-section-ceo .signature {
    align-self: flex-end;
    text-align: center;
}

.about-section-ceo .signature h4 {
    font-size: 20px;
    color: #231F20;
    font-weight: 100;
    margin: 20px 0 10px 0;
}

.accordion-item {
    border: none;
}

.accordion-header {
    border-radius: 100px !important;
}

.accordion button {
    background-color: #f3f3f3;
    border-radius: 50px;
    margin: 20px 0;
}
.accordion-flush {
    border-radius: 20px !important;
}

.client-feedback-title {
    margin-top: 80px;
}

.client-feedback {
    background-image: url('./Assets/about/client-bg.png');
    height: 432px;
    margin-top: 120px;
    background-size: cover;
    position: relative;
    
    display: flex;
    justify-content: center;
}

.client-feedback::after{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/home/background-project-overlay.png');
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

.client-feedback .carousel-container {
    max-width: 100vw;
    width: 589px;
    min-height: 518px;
    position: absolute;
    bottom: 10px;

    z-index: 2;
}


.client-feedback .carousel-container img {
    max-width: 100vw;
    min-width: 589px;
    max-height: 518px;
    z-index: 2;

    position: relative;
    cursor: pointer;
}

.client-feedback .carousel-indicators {
    z-index: 4;
}

.client-feedback .carousel-control-prev {
    z-index: 4;
}

.client-feedback .carousel-control-next {
    z-index: 4;
}



/* SERVICES */

.modal-body {
    padding: 0;
}

.modal-dialog {
    width: 900px;
    max-width: calc(100vw - 50px);

}

.modal-body .modal-background {
    height: 365px;
    width: 100%;
    object-fit: cover;

}

.card.services {
    margin-bottom: 30px;
}

.card.services a {
    cursor: pointer;
}

.card.services i {
    margin-top: 5px;
    margin-left: 10px;
}

.card.services .imgcard-img-top {
    height: 244px;

    border-radius: 10px;
    border: #AA1F24 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* PROJECTS */

.projects-unique p{
    font-family: 'Poppins';
    font-size: 18px;
}

.projects-unique span {
    font-family: 'Poppins';
    font-size: 18px;
}

.projects-unique .circle {
    background-color: #AA1F24;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3F3F3;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    align-self: center;
    z-index: 2;
}

.projects-unique .project-text-container {
    position: relative;
}

.projects-unique .border-right {
    position: absolute;
    left: 0;
    width: 20px;
    height: 80%;
    border-left:#AA1F24 3px solid;
    margin-left: 30px;
    margin-top: 40px;
}




.projects-sectors .project-card-sector {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.project-card-sector img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-sectors .project-card-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(243, 243, 243, 0.7);
    width: 100%;
    transition: all 0.5s ease;

}

.projects-sectors .project-card-text i {
    margin: 5px 0 0 5px;
}

.projects-sectors .project-card-text a {
    cursor: pointer;
}

.project-card-sector .project-card-text-hidden {
    position: absolute;
    padding-top: 20px;
    top: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(243, 243, 243, 0.7);
    width: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: all 0.5s ease;
    opacity: 0;
}

.projects-sectors .project-card-text-hidden a {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.projects-sectors .project-card-text-hidden i {

    font-size: 20px;
}



/* Contact */

.contact-form {
    margin-top: -100px;
    width: 100%;
    max-width: 993px;
}

.contact-team {
    background-image: url('../Assets/contact/team-bg.png');
    width: 100vw;
    height: 522px;
    background-size: cover;
}

.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.team-card img {
    margin-bottom: -100px;
    z-index: 10;
}

.team-card-content{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 10px 10px 10px;
    z-index: 2;
}


/* Media */

.galleryNewsContainer {
    position: relative;
}

#gallery {
    transform: translateX(-30px);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

#gallery img {
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
}


#news {
    position: absolute;
    top: 0;
    left: auto;
    margin-left: auto;
    transform: translateX(30px);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}